<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/960b7b8b42.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/css/{{stylesheet}}.css">
  <title>Favorite Restaurants List</title>
</head>
<body>
  <header>
    <nav class="nav d-flex align-items-center">
      <a href="/"><h1 class="nav__title">Restaurant List</h1></a>
      <a href="/restaurants/new" class="nav__add"><i class="far fa-plus-square"></i></a>
    </nav>
  </header>
  {{{body}}}
  <script src="/javascripts/main.js"></script>
</body>
</html>