@import './reset';

//style start
// header
header{
  position: fixed;
  z-index: 999;
  @extend %standard-boxshadow;
  background-color: $dark-gray;
  height: 60px;
  width: 100%;
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %margin-center;
    height: 100%;
    .nav__add{
      font-size: 2rem;
      color: $white;
    }
  }
  h1{
    font-weight: 700;
    color: $white;
  }
} 

main{
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  @extend %margin-center;
}

// search 
.search-panel{
  .search-wrapper{
    display: flex;
    align-items: center;
    height: 40px;
    input,button{
      height: 100%;
    }
    input{
      flex: 1;
      border-radius: 5px 0 0 5px;
    }
    button{
      flex: 0 0 30%;
      background-color: $secondary-blue;
      color: $white; 
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
    }
  }
}

.filter{
  .search-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    select:nth-of-type(2){
      margin-bottom: 10px;
    }
    label{
      margin: 5px 0;
    }
    button{
      margin-top: 10px;
      color: $white;
      background-color: $secondary-blue;
      border: 2px solid $body-color; 
      border-radius: 5px;
    }
  }
}

// list
.list-panel{
  display: flex;
  justify-content: center;
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    grid-gap: 1rem 0.5rem;
  }
  .card{
    @extend %standard-boxshadow;
    display: flex;
    flex-direction: column;
  }
  .card__upper{
    height: 70%;
    .upper__info{
      .upper__info--name{
      width: 100%;
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
      -webkit-line-clamp: 1; 
      overflow: hidden;
      }  
    }
  }
  .card__footer{
    flex:1;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 4rem;
    a{
      flex:1;
    }
    form{
      flex:1;
    }
    a:nth-child(1){
      background-color: rgb(52, 94, 233);
    }
    a:nth-child(2){
      background-color: rgb(245, 183, 12);
    }
    form{
      background-color: rgb(245, 108, 108);
        button{
          color: $white;
        }
    }
    a , form{
      position: relative;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      color:$white;
      margin: 0 5px;
      border-radius:10px ;
      padding: 0 5px;

      &::before{
        content:'';
        position: absolute;
        z-index: 0;
        bottom: -1px;
        right: -1px;
        height: 0%;
        width: 0%;
        transition: 1s ;
      }
      &::after{
        content:'';
        position: absolute;
        z-index: 0;
        top: -1px;
        left: -1px;
        height: 0%;
        width: 0%;
        transition: 1s;
      }
      &:hover::before{
        z-index: -1;
        height: 100%;
        width: 100%;
        border-right: 2px solid rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);;
        border-radius:11px ;
      }
      &:hover::after{
        z-index: -1;
        height: 100%;
        width: 100%;
        border-top: 2px solid rgba(0, 0, 0, 0.5);;
        border-left: 2px solid rgba(0, 0, 0, 0.5);;
        border-radius:11px ;
      }
    }
  }
}

@media screen and (min-width:768px){
  .filter{
    margin-bottom: 20px;
  .search-wrapper{
    all: unset;
  }
}
  .list-panel{
    .container{
      display: grid;
      grid-template-columns: repeat(4,  1fr);
      grid-gap: 1rem 0.5rem;

    }
  }
}
@media screen and (min-width:1024px){
  .list-panel{
    .container{
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(5,  1fr);
      grid-gap: 1rem 0.5rem;
    }
  }
}